
    <div class="inline-flex" style="width: 100%;height: 4rem;border-bottom: 1px solid #d1d1ca;">
        <div (click)="showSideBar()" class="block md:hidden font-bold align-items-center justify-content-center p-4 border-round mr-3">
            <i class="pi pi-align-justify" ></i>
        </div>
        <div class="">
            <img style="height: 3.8rem;" src="./../assets/img/logo.jpg" alt=""> 
        </div>
        <div class="hidden md:flex  align-items-center justify-content-center pl-5 col-12">
            <div class="card flex justify-content-center">
                <p-multiSelect [options]="categories"  [(ngModel)]="selectedCities"  placeholder="Select categories" display="chip" [showClear]="true" [group]="true">
                    <ng-template let-group pTemplate="group">
                        <div class="flex align-items-center">
                            <!-- <img src="" [class]="'mr-2 flag flag-' + group.value" style="width: 20px" /> -->
                            <span>{{ group.label }}</span>
                        </div>
                    </ng-template>
                </p-multiSelect>
            </div>
        </div>
    </div>
    <p-sidebar [(visible)]="sidebarVisible" >
        <ng-template pTemplate="header">Mccoy Store</ng-template>
        <div class="card flex justify-content-center">
            <p-multiSelect  [options]="categories" [(ngModel)]="selectedCities"  placeholder="Select Categories" filterPlaceHolder="search categori" display="chip" [showClear]="true" [group]="true">
                <ng-template let-group pTemplate="group">
                    <div class="flex align-items-center">
                        <!-- <img src="" [class]="'mr-2 flag flag-' + group.value" style="width: 20px" /> -->
                        <span>{{ group.label }}</span>
                    </div>
                </ng-template>
            </p-multiSelect>
            
        </div>
    </p-sidebar>
    <!-- <p-button (click)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button> -->
    
    <app-main-page></app-main-page>
    