


<router-outlet />
<div class="col-6 mt-4">Esore is a trusted destination in Rudrapur for electronic and electric needs. They offer a wide range of products, including smartphones, home appliances, and electrical supplies. Their commitment to customer satisfaction is evident through their knowledgeable staff and focus on building lasting relationships. Conveniently located, Esore aims to be the first choice for quality, affordability, and excellent service.</div>
<div class="footer">
    
    <div>About Us</div>
    <div>Contact Us</div>

</div>
