.footer{
    height: 3rem;
    background: #ffffff;
    border-radius: 6px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    div{
        font-weight: 500;
        cursor: pointer;
    }
}